{% extends 'base.html.twig' %}
{% block top %}
    <nav class="navbar navbar-inverse navbar-top" style="border-radius: 0px!important">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('homepage') }}">AppMusicRecommender</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if not is_granted("ROLE_USER") %}
                    <li><a href="{{ path('login_route') }}">Iniciar Sesión</a></li>
                    <li><a href="{{ path('user_registration') }}">Registrarse</a></li>
                    {% endif %}
                    {% if is_granted("ROLE_USER") %}
                        <li><a href="#" style="color:white">Bienvenido {{ app.user.username }}</a></li>
                        <li><a href="">Gestionar listas</a></li>
                        <li><a href="{{ path('logout') }}">Cerrar Sesión</a></li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="col-md-offset-3 col-xs-12 col-md-7">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Buscar Por Artista</h3>

                <form method="GET" Action="{{ path('listOfSongs') }}" id="formSearchTop">
                    <input type="text" class="form-control" placeholder="Search..." id="searchValueTop">
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-12">&nbsp;</div>

    <script>
        (function (window, $) {
            $('#formSearchTop').submit(function (event) {
                event.preventDefault();
                var input = $("#searchValueTop").val();
                window.location.href = "{{ path('listOfSongs') }}/"+ input;
            });
        })(window, jQuery);
    </script>

{%  endblock %}