{% extends 'base.html.twig' %}
{% block top %}
    <nav class="navbar navbar-inverse navbar-top" style="border-radius: 0px!important">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('homepage') }}">AppMusicRecommender</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if not is_granted("ROLE_USER") %}
                    <li><a href="{{ path('login_route') }}">Iniciar Sesión</a></li>
                    <li><a href="{{ path('user_registration') }}">Registrarse</a></li>
                    {% endif %}
                    {% if is_granted("ROLE_USER") %}
                        <li><a href="#" style="color:white">Bienvenido {{ app.user.username }}</a></li>
                        <li><a href="{{ path('listOfSongs') }}">Buscador</a></li>
                        <li><a href="{{ path('user_registration') }}">Recomendaciones</a></li>
                        <li><a href="{{ path('logout') }}">Cerrar Sesión</a></li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

{%  endblock %}