<h3 class="well well-sm">Top actuales <span id="recommenderTop" class="badge" style="float: right;cursor: pointer; ">Mostrar/Ocultar</span>
</h3>
<div style="height: 400px; overflow-y: scroll;" id="recommenderTopBody" class="hidden-xs">
    <table style="width: 100%;">
        {% for key,row in result %}
            <tbody class="panel panel-default">
            <tr class="panel-body">
                <td style="vertical-align: inherit;">
                    <div style="text-align: left">{{ row.nameSong }}</div>
                    <div style="text-align: left">{{ row.nameArtist }}</div>
                </td>
                <td>{{ row.duration }}</td>
                <td style="vertical-align: inherit;text-align: center">
                    <button type="button" class="btn btn-default" aria-label="Left Align"
                            onclick="loadSong('{{ row.id }}','{{ row.getTrack().getForeignId() }}');">
                        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
</div>


<script>

    $("#recommenderTop").click(function () {
        $("#recommenderTopBody").toggle();
    });

</script>
