{% extends 'top.html.twig' %}

{% block body %}
    <div style="border:1px dotted #eee; padding:15px;">
        <form method="post" Action="{{ path('SongStyle') }}">
            <!--<input type="text" class="form-control" name="value"><br>-->
            <select class="form-control" name="style">
                <option value="false">Sin opción</option>
                <option value="rock"> Rock</option>
                <option value="pop"> Pop</option>
                <option value="hip hop"> Hip hop</option>
            </select>
            <br>
            <input type="submit" class="btn btn-info" value="buscar">
        </form>
    </div>
    <br>
    <div id="player" style="display: none">
        <div style="text-align: center;">
            <img id="imgSong" style="width: 40%;">
        </div>
        <div id="object"></div>
    </div>

    <br>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>Canción</th>
                <th>Artista</th>
                <th>Duración</th>
                <th></th>
            </tr>
            {% for key,row in result %}
                <tr>
                    <td style="vertical-align: inherit;">
                        <div style="text-align: left">{{ row.nameSong }}</div>
                    </td>
                    <td>{{ row.nameArtist }}</td>
                    <td>{{ row.duration }}</td>
                    <td style="vertical-align: inherit;text-align: center">
                        <button type="button" class="btn btn-default" aria-label="Left Align"
                                onclick="loadSong('{{ row.id }}','{{ row.getTrack().getForeignId() }}');">
                            <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                        </button>

                    </td>
                </tr>


            {% endfor %}
        </table>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascript %}

{% endblock %}
