{% extends 'top.html.twig' %}

{% block body %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".js-example-basic-single").select2();
        });
    </script>
    <div class="col-xs-12 col-md-12" style="border:1px dotted #eee; padding:15px;">
        <h4>Filtrar por genero</h4>
        <form method="post" Action="{{ path('SongStyle') }}">
            <select class="js-example-basic-single form-control" name="style">
                <option value="false">Sin opción</option>
                {% for key,row in genres.genres %}
                    <option value="{{ row.name }}">{{ row.name }}</option>
                {% endfor %}
                <option value="rock">rock</option>
                <option value="hip hop">hip hop</option>
                <option value="r&b">R&B</option>
                <option value="reggaeton">reggaeton</option>
            </select>
            <br><br>
            <input type="submit" class="btn btn-info" value="buscar">
        </form>
    </div>
    <br>
    <div class="col-xs-12 col-md-12">
    <div id="player" style="display: none">
        <div style="text-align: center;">
            <img id="imgSong" style="width: 40%;">
        </div>
        <div id="object"></div>
    </div>

    <br>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>Canción</th>
                <th>Artista</th>
                <th>Duración</th>
                <th></th>
            </tr>
            {% for key,row in result %}
                <tr>
                    <td style="vertical-align: inherit;">
                        <div style="text-align: left">{{ row.nameSong }}</div>
                    </td>
                    <td>{{ row.nameArtist }}</td>
                    <td>{{ row.duration }}</td>
                    <td style="vertical-align: inherit;text-align: center">
                        <button type="button" class="btn btn-default" aria-label="Left Align"
                                onclick="loadSong('{{ row.id }}','{{ row.getTrack().getForeignId() }}');">
                            <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                        </button>

                    </td>
                </tr>


            {% endfor %}
        </table>
    </div>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascript %}

{% endblock %}
